html {
    scroll-behavior: smooth;
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

.md-grid {
    max-width: 75rem;
}
